body {  
	background-color: #232323; 
	margin: 0;
	overflow: hidden;
	font-family: "Avenir";
}

#container {
	margin: 20px auto; 
	max-width: 600px; 
}

.square { 
	width: 30%;
	float: left;
	margin: 1.66%;
	height: 180px;
	border-radius: 15%;
	transition: background-color 1.0s;
	-webkit-transition: background-color 1.0s; 
	-moz-transition: background-color 1.0s;
}

h1 {
	color: white; 
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
}

#header {
	background-color: #4353ff;
	padding: 20px;
	text-align: center; 
	width: 100%; 
}

#navbar {
	background-color: white; 
	height: 30px;
	text-align: center;
	width: 100%; 
}

#rgbText {
	font-size: 200%; 
}

.selected {
	background-color: #4353ff;
	color: white;
}

button {
	border: none;
	text-transform: uppercase;
	height: 100%;
	background: none;
	outline: none;
	font-weight: 700;
	color: #4353ff;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 1.0s; 
	-moz-transition: all 1.0s;
}

#message {
	display: inline-block;
	width: 20%;
}

button:hover {
	background-color: #4353ff;
	color: white;
}